In [1]:
import requests

In [2]:
url_pelis = f"https://beta.adalab.es/resources/apis/pelis/pelis.json"

In [3]:
peticion = requests.get(url_pelis)

In [4]:
peticion.status_code

200

In [5]:
datos_peliculas = peticion.json()

In [ ]:
datos_peliculas

In [7]:
info_peliculas = []

for pelicula in datos_peliculas:
    info_peliculas.append({"titulo": pelicula.get("titulo"), "año": pelicula.get("año"), "duracion": pelicula.get("duracion"), "genero": pelicula.get("genero"), "adultos": pelicula.get("adultos")})

In [ ]:
info_peliculas

In [ ]:
import mysql.connector
from mysql.connector import errorcode

cnx = None
cur = None

try:
    cnx = mysql.connector.connect(
        host="127.0.0.1",
        user="root",
        password="AlumnaAdalab",
    )
    print("Conectada a MySQL.")

    cur = cnx.cursor()

    cur.execute("CREATE DATABASE IF NOT EXISTS peliculas_bd")
    cur.execute("USE peliculas_bd")

    cnx.commit()
    print("peliculas_bd lista y seleccionada.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Usuario o contraseña incorrectos.")
    else:
        print("Error MySQL:", err)
        print("Código:", getattr(err, "errno", None))
        print("SQLSTATE:", getattr(err, "sqlstate", None))

finally:
    if cur is not None:
        cur.close()
    if cnx is not None and cnx.is_connected():
        cnx.close()
        print("Conexión cerrada.")

Conectada a MySQL.
peliculas_bd lista y seleccionada.
Conexión cerrada.

In [ ]:
import mysql.connector

DB_NAME = "peliculas_bd"

cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="AlumnaAdalab",
    database=DB_NAME
)

cursor = cnx.cursor()

cursor.execute("SET FOREIGN_KEY_CHECKS = 0")
cursor.execute("DROP TABLE IF EXISTS subtitulos")
cursor.execute("DROP TABLE IF EXISTS peliculas")
cursor.execute("DROP TABLE IF EXISTS generos")
cursor.execute("SET FOREIGN_KEY_CHECKS = 1")
cnx.commit()

# Tabla generos

cursor.execute("""
CREATE TABLE generos (
    id_genero INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(50) NOT NULL UNIQUE
) ENGINE=InnoDB;
""")

# Tabla peliculas

cursor.execute("""
CREATE TABLE peliculas (
    id_pelicula INT PRIMARY KEY,
    titulo VARCHAR(150) NOT NULL,
    anio YEAR NOT NULL,
    duracion INT NOT NULL,
    adultos BOOLEAN NOT NULL,
    genero_id INT NOT NULL,
    CONSTRAINT fk_peliculas_generos
        FOREIGN KEY (genero_id) REFERENCES generos(id_genero)
        ON UPDATE CASCADE
        ON DELETE RESTRICT
) ENGINE=InnoDB;
""")

# Tabla subtitulos
 
cursor.execute("""
CREATE TABLE subtitulos (
    id_subtitulo INT AUTO_INCREMENT PRIMARY KEY,
    pelicula_id INT NOT NULL,
    idioma VARCHAR(10) NOT NULL,
    CONSTRAINT fk_subtitulos_peliculas
        FOREIGN KEY (pelicula_id) REFERENCES peliculas(id_pelicula)
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    CONSTRAINT uq_pelicula_idioma UNIQUE (pelicula_id, idioma)
) ENGINE=InnoDB;
""")

cnx.commit()
print("Tablas recreadas")

In [ ]:
# Insertar géneros
generos_unicos = sorted({p.get("genero") for p in datos_peliculas if p.get("genero")})

sql_genero = "INSERT IGNORE INTO generos (nombre) VALUES (%s)"
cursor.executemany(sql_genero, [(g,) for g in generos_unicos])
cnx.commit()

# Id_genero 
cursor.execute("SELECT id_genero, nombre FROM generos")
map_generos = {nombre: id_genero for (id_genero, nombre) in cursor.fetchall()}

# Insertar películas 
sql_peli = """
INSERT INTO peliculas (id_pelicula, titulo, anio, duracion, adultos, genero_id)
VALUES (%s, %s, %s, %s, %s, %s)
"""

val_pelis = []
for p in datos_peliculas:
    val_pelis.append((
        p["id"],
        p["titulo"],
        p["año"],
        p["duracion"],
        p["adultos"],
        map_generos[p["genero"]]
    ))

cursor.executemany(sql_peli, val_pelis)
cnx.commit()

# Subtítulos
sql_subs = """
INSERT IGNORE INTO subtitulos (pelicula_id, idioma)
VALUES (%s, %s)
"""

val_subs = []
for p in datos_peliculas:
    pelicula_id = p["id"]
    for idioma in p.get("subtitulos", []):
        val_subs.append((pelicula_id, idioma))

cursor.executemany(sql_subs, val_subs)
cnx.commit()

print("Datos insertados en generos, peliculas y subtitulos")

In [ ]:
cursor.execute("SELECT COUNT(*) FROM peliculas")
print("Películas:", cursor.fetchone()[0])

cursor.execute("SELECT COUNT(*) FROM generos")
print("Géneros:", cursor.fetchone()[0])

cursor.execute("SELECT COUNT(*) FROM subtitulos")
print("Subtítulos:", cursor.fetchone()[0])

In [ ]:
#1. ¿Cuántas películas tienen una duración superior a 120 minutos?

cursor.execute("""
SELECT COUNT(*)
FROM peliculas
WHERE duracion > 120
""")

cantidad = cursor.fetchone()[0]
print(cantidad)

In [ ]:
print(cnx.is_connected())

True

In [ ]:
#2. ¿Cuántas películas incluyen subtítulos en español?

cursor.execute("""
SELECT COUNT(DISTINCT pelicula_id)
FROM subtitulos
WHERE idioma = %s
""", ("es",))

cantidad = cursor.fetchone()[0]
print(f"{cantidad}")

In [ ]:
#3. ¿Cuántas películas tienen contenido adulto?

cursor.execute("""
SELECT COUNT(*)
FROM peliculas
WHERE adultos = 1
""")

cantidad = cursor.fetchone()[0]
print(cantidad)

In [ ]:
try:
    cursor.close()
except:
    pass

try:
    cnx.close()
except:
    pass

# Reconecta
cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="AlumnaAdalab",
    database="peliculas_bd"
)


cursor = cnx.cursor(buffered=True)

print("Reconectada:", cnx.is_connected())

Reconectada: True

In [ ]:
#4. ¿Cuál es la película más antigua registrada en la base de datos?

cursor.execute("""SELECT titulo
FROM peliculas
ORDER BY anio ASC
LIMIT 1;
""")
resultado = cursor.fetchone()[0]
print(resultado)

In [22]:
try:
    cursor.fetchall()
except:
    pass

In [ ]:
#5. Muestra el promedio de duración de las películas agrupado por género.

cursor.execute("""
SELECT g.nombre, ROUND(AVG(p.duracion))
FROM peliculas p
JOIN generos g ON p.genero_id = g.id_genero
GROUP BY g.nombre
""")

resultados = cursor.fetchall()

for genero, promedio in resultados:
    print(genero, promedio)

In [ ]:
#6. ¿Cuántas películas por año se han registrado en la base de datos? Ordena de mayor a menor.
cursor.execute("""
SELECT anio, COUNT(titulo)
FROM peliculas
GROUP BY anio
ORDER BY anio DESC
""")

resultados = cursor.fetchall()

for anio, cantidad in resultados:
    print(f"{anio}: {cantidad}")

In [ ]:
#7. ¿Cuál es el año con más películas en la base de datos
cursor.execute("""
SELECT anio, COUNT(*) AS total_peliculas
FROM peliculas
GROUP BY anio
ORDER BY total_peliculas DESC
LIMIT 1
""")

anio, total = cursor.fetchone()
print(f" {anio} {total} ")

In [ ]:
#8. Obtén un listado de todos los géneros y cuántas películas corresponden a cada uno.

cursor.execute("""
SELECT g.nombre, COUNT(p.id_pelicula) AS total
FROM generos g
LEFT JOIN peliculas p ON g.id_genero = p.genero_id
GROUP BY g.nombre
""")

resultados = cursor.fetchall()

for genero, total in resultados:
    print(f"{genero}: {total}")

In [ ]:
#9. Muestra todas las películas cuyo título contenga la palabra "Godfather" (puedes usar cualquier palabra).

sql = """
SELECT titulo
FROM peliculas
WHERE titulo LIKE %s
"""

valor = "%Godfather%"

cursor.execute(sql, (valor,))
resultados = cursor.fetchall()

for fila in resultados:
    print(fila[0])